@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey1: #343434;
  --grey2: #666666;
  --grey3: #dddddd;
  --grey4: #f7f7f7;
  --grey5: #F3F3F3;

  --primary: #007fe9;

  --bg: white;
}

[data-theme='dark'] {
  --grey1: #F3F3F3;
  --grey2: #f7f7f7;
  --grey3: #666666;
  --grey4: #666666;
  --grey5: #343434;

  --bg: #1a1a1a;
}

body {
  background-color: var(--bg);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: red
  }
} */

h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--grey1);
}

h2 {
  font-size: 16px;
  font-weight: 500;
  color: var(--grey2);
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--grey1);
}

h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--grey1);
}

p {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey2);
}

ul {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey2);
}

.h-a4 {
  overflow: hidden;
}

.link {
  display: flex;
  align-items: center;

  &:hover {
    color: var(--primary);
  }
}
