.company {
  border-radius: 22px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 14px;
  padding-right: 14px;
  border: solid 2px var(--primary);
  font-size: 16px;
  font-weight: 500;
  color: var(--grey2);
  transition: 0.2s;

  &:hover {
    transform: scale(1.02);
  }
}

.date {
  font-size: 16px;
  font-weight: 500;
  color: var(--grey2);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.text {
  font-size: 12px;
}